<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Kundenstatement</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>Zeitaufwand in Stunden</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Schönwetterdreh</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Hauptdrehort</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>Adresse</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Nebendrehort</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>Adresse</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Entfernung vom Hauptdrehort</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Sonstiges</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>Drehgenehmigungen</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Requisiten (vom Kunden organisiert)</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Statisterie</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>betriebsinterne Personen</string>
			</dict>
			<dict>
				<key>title</key>
				<string>betriebsfremde Personen</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
