<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Kontakt</string>
		<key>icon</key>
		<integer>0</integer>
		<key>section</key>
		<array>
	        <dict>
	            <key>title</key>
	            <string>Kontakt</string>
	            <key>questions</key>
	            <array>
	                <dict>
	                    <key>title</key>
	                    <string>Ansprechpartner</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>Adresse</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>E-Mail</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>Telefonnummer</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>Mobil</string>
	                </dict>
	            </array>
	        </dict>
	        <dict>
	            <key>title</key>
	            <string>Redaktion</string>
	            <key>questions</key>
	            <array>
	                <dict>
	                    <key>title</key>
	                    <string>Ansprechpartner</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>E-Mail</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>Telefonnummer</string>
	                </dict>
	            </array>
	        </dict>
	        <dict>
	            <key>title</key>
	            <string>Terminierung</string>
	            <key>questions</key>
	            <array>
	                <dict>
	                    <key>title</key>
	                    <string>Ansprechpartner</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>E-Mail</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>Telefonnummer</string>
	                </dict>
	            </array>
	        </dict>
	        <dict>
	            <key>title</key>
	            <string>Kamera</string>
	            <key>questions</key>
	            <array>
	                <dict>
	                    <key>title</key>
	                    <string>Ansprechpartner</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>E-Mail</string>
	                </dict>
	                <dict>
	                    <key>title</key>
	                    <string>Telefonnummer</string>
	                </dict>
	            </array>
	        </dict>
	    </array>
	</dict>
	<dict>
		<key>title</key>
		<string>Parameter</string>
		<key>icon</key>
		<integer>2</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>Kundenstatement</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Statement</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Redaktion</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Off-Sprecher</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Geschlecht Off-Sprecher</string>
						<key>selections</key>
						<array>
							<string>männlich</string>
							<string>weiblich</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Off-Text erstellt</string>
						<key>selections</key>
						<array>
							<string>Ja</string>
							<string>Nein</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Sprachversionen</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Was soll im Film vorkommen</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Was nicht zeigen</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Terminierung</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Clipdauer</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Drehformat</string>
						<key>selections</key>
						<array>
							<string>16:9</string>
							<string>16:10</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Einsatzmedien</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Telefonnummer</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Organisation</string>
		<key>icon</key>
		<integer>1</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>Kundenstatement</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Zeitaufwand in Stunden</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Schönwetterdreh</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Hauptdrehort</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Adresse</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Nebendrehort</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Adresse</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Entfernung vom Hauptdrehort</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Sonstiges</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Drehgenehmigungen</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Requisiten (vom Kunden organisiert)</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Statisterie</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>betriebsinterne Personen</string>
					</dict>
					<dict>
						<key>title</key>
						<string>betriebsfremde Personen</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Post Produktion</string>
		<key>icon</key>
		<integer>3</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>Musik</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Musik</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Genre</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Tempo</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Fremdmaterial</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>Fotos</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Videos</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Grafiken / Animationen</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Ton</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	
</array>
</plist>