<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Musik</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>Musik</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Genre</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Tempo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Fremdmaterial</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>Fotos</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Videos</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Grafiken / Animationen</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Ton</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
