<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Contact</string>
		<key>icon</key>
		<integer>0</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>Contact</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>contact</string>
					</dict>
					<dict>
						<key>title</key>
						<string>address</string>
					</dict>
					<dict>
						<key>title</key>
						<string>e-mail</string>
					</dict>
					<dict>
						<key>title</key>
						<string>telephone</string>
					</dict>
					<dict>
						<key>title</key>
						<string>mobile</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>editorial staff</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>contact</string>
					</dict>
					<dict>
						<key>title</key>
						<string>e-mail</string>
					</dict>
					<dict>
						<key>title</key>
						<string>telephone</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>scheduling</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>contact</string>
					</dict>
					<dict>
						<key>title</key>
						<string>e-mail</string>
					</dict>
					<dict>
						<key>title</key>
						<string>telephone</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>camera</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>contact</string>
					</dict>
					<dict>
						<key>title</key>
						<string>e-mail</string>
					</dict>
					<dict>
						<key>title</key>
						<string>telephone</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Parameter</string>
		<key>icon</key>
		<integer>2</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>customer statement</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>statement</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>editorial staff</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>off-speaker</string>
					</dict>
					<dict>
						<key>title</key>
						<string>gender off-speaker</string>
						<key>selections</key>
						<array>
							<string>male</string>
							<string>female</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>off-text created</string>
						<key>selections</key>
						<array>
							<string>yes</string>
							<string>no</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>language version</string>
					</dict>
					<dict>
						<key>title</key>
						<string>what to show in the movie</string>
					</dict>
					<dict>
						<key>title</key>
						<string>what not to show</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>scheduling</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>clip length</string>
					</dict>
					<dict>
						<key>title</key>
						<string>film format</string>
						<key>selections</key>
						<array>
							<string>16:9</string>
							<string>16:10</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>operating media</string>
					</dict>
					<dict>
						<key>title</key>
						<string>telephone</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Organisation</string>
		<key>icon</key>
		<integer>1</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>customer statement</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>time exposure in hours</string>
					</dict>
					<dict>
						<key>title</key>
						<string>fair weather shooting</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>main filming spot</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>address</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>side filming spot</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>address</string>
					</dict>
					<dict>
						<key>title</key>
						<string>distance to main filming spot</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Other</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>filming approval</string>
					</dict>
					<dict>
						<key>title</key>
						<string>properties (organized by customer)</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>background actors</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>internal persons</string>
					</dict>
					<dict>
						<key>title</key>
						<string>external persons</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Post Production</string>
		<key>icon</key>
		<integer>3</integer>
		<key>section</key>
		<array>
			<dict>
				<key>title</key>
				<string>music</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>music</string>
					</dict>
					<dict>
						<key>title</key>
						<string>genre</string>
					</dict>
					<dict>
						<key>title</key>
						<string>speed</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>external material</string>
				<key>questions</key>
				<array>
					<dict>
						<key>title</key>
						<string>photos</string>
					</dict>
					<dict>
						<key>title</key>
						<string>videos</string>
					</dict>
					<dict>
						<key>title</key>
						<string>graphics / animations</string>
					</dict>
					<dict>
						<key>title</key>
						<string>sound</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>