<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>Kontakt</string>
            <key>questions</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Ansprechpartner</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Adresse</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>E-Mail</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Telefonnummer</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Mobil</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>Redaktion</string>
            <key>questions</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Ansprechpartner</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>E-Mail</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Telefonnummer</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>Terminierung</string>
            <key>questions</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Ansprechpartner</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>E-Mail</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Telefonnummer</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>Kamera</string>
            <key>questions</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Ansprechpartner</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>E-Mail</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Telefonnummer</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
