{{% CONTENT_TYPE:HTML }}
<html>
  <head>
    <style type="text/css">


      /*------------------------------------*\
          $RESET
      \*------------------------------------*/

      * { margin: 0; padding: 0; -webkit-box-sizing: border-box; }





      /*------------------------------------*\
          $BASE
      \*------------------------------------*/

      h1, h2, h3, h4, h5, h6,
      ul, ol, dl,
      blockquote, p, address,
      table,
      fieldset, figure,
      pre {
        margin-bottom: 21px;
      }

      ul, ol, dd {
        margin-left: 21px;
      }

      li > ul,
      li > ol {
        margin-bottom: 0;
      }

      html {
        font-family: HelveticaNeue-Light;
        font-size: 14px;
        line-height: 1.5;
      }

      h1 { font-size: 36px; }
      h2 { font-size: 21px; }
      h3 { font-size: 18px; }
      h4 { font-size: 14px; }
      h5 { font-size: 12px; }

      h1, h2, h3, h4, h5 {
        font-weight: normal;
      }

      h1, h2 {
        font-family: HelveticaNeue-Light;
      }

      h3, h4, h5 {
        font-family: HelveticaNeue;
      }



      /*------------------------------------*\
          $SKIN
      \*------------------------------------*/

      .section {
        border-top: 1px solid #E4E4DC;
      }

      .section__title {
        padding-top: 10px;
        position: relative;
        margin-bottom: 28px;
      }

      .section__title:before {
        content: "";
        display: block;
        width: 210px;
        height: 4px;
        background: #48C0FB;
        position: absolute;
        left: 0;
        top: -1px;
      }

      .scenes { page-break-inside:auto }
      .scene  { page-break-inside:avoid; page-break-after:auto }





      /*------------------------------------*\
          $HELPER
      \*------------------------------------*/

      .page-break { page-break-before: always; }

    </style>
  </head>

  <body>
    <h1>{{project.title}}</h1>
    <h3>{{project.companyName}}</h3>
    {{# project.companyLogo}}
    <div class="logo"><img src="{{project.projectLogoSRC}}" alt="" /></div>
    {{/ project.companyLogo}}

    {{#categories}}
    {{# categoryHasAnswer(., project) }}
    <div class="page-break"></div>

    <div class="section">
    <h2 class="section__title">{{title}}</h2>
    {{#sortedSections}}
    {{# sectionHasAnswer(., project) }}
    <section>
      <h3>{{title}}</h3>
      {{#sortedQuestions}}
      {{# hasTextAnswer(., project) }}
      <div class="question">{{title}}</div>
      <p>{{# nl2br }}{{text}}{{/ nl2br }}</p>
      {{/ }}
      {{# hasSelectableAnswer(., project) }}
      <div class="question">{{title}}</div>
      <p>{{selected.text}}</p>
      {{/ }}
      {{/sortedQuestions}}
    </section>
    {{/ }}
    {{/sortedSections}}
    </div><!-- end .section -->
    {{/ }}
    {{/categories}}


    {{#project.hasScenes}}
    <div class="page-break"></div>
    <div class="section">
    <h2 class="section__title">Scenes</h2>
    <div class="scenes">
      {{#project.orderedScenes}}
      {{# hasImage}}
      <div class="scene cf">
        <h4>{{title}}</h4>
        <div class="scene_image">
          <img src="{{sceneImageSRC}}" />
        </div>
        <div class="text image">
          <h5>Picture</h5>
          <p>
            {{imageText}}
          </p>
        </div>
        <div class="text sound">
          <h5>Sound</h5>
          <p>
            {{soundText}}
          </p>
        </div>
      </div>
      {{^ hasImage}}
      <div class="scene without_image cf">
        <h4>{{title}}</h4>
        <div class="text image">
          <h5>Picture</h5>
          <p>
            {{imageText}}
          </p>
        </div>
        <div class="text sound">
          <h5>Sound</h5>
          <p>
            {{soundText}}
          </p>
        </div>
      </div>
      {{/ hasImage}}

      {{/project.orderedScenes}}
    </div>
    </div>
    {{/project.hasScenes}}
  </body>
</html>
