{{% CONTENT_TYPE:HTML }}
<html>
  <head>
    <style type="text/css">
      /*
      $color-blue: #48C0FB;
      $color-border: #E4E4DC;
      $color-headings: #515146;
      $color-headings-light: #C7C7BF;
      $color-text: #87877E;
      */

      /*------------------------------------*\
          $RESET
      \*------------------------------------*/

      * { margin: 0; padding: 0; -webkit-box-sizing: border-box; }





      /*------------------------------------*\
          $BASE
      \*------------------------------------*/

      h1, h2, h3, h4, h5, h6,
      ul, ol, dl,
      blockquote, p, address,
      table,
      fieldset, figure,
      pre {
        margin-bottom: 21px;
      }

      ul, ol, dd {
        margin-left: 21px;
      }

      li > ul,
      li > ol {
        margin-bottom: 0;
      }

      html {
        font-family: HelveticaNeue-Light;
        font-size: 14px;
        line-height: 1.5;
        color: #87877E;
      }

      body {
        padding: 1cm;
      }





      /*------------------------------------*\
          $TYPOGRAPHY
      \*------------------------------------*/

      h1 { font-size: 36px; }
      h2 { font-size: 21px; }
      h3 { font-size: 18px; }
      h4 { font-size: 14px; }
      h5 { font-size: 12px; }

      h1, h2, h3, h4, h5 {
        font-weight: normal;
        color: #515146;
      }

      h1, h2 {
        font-family: HelveticaNeue-Light;
      }

      h4 {
        font-family: HelveticaNeue-Medium;
      }

      h3, h5 {
        font-family: HelveticaNeue;
      }



      /*------------------------------------*\
          $COVER
      \*------------------------------------*/


      .cover {
        text-align: center;
        padding-top: 84px;
      }

      .cover__image {
        padding-bottom: 42px;
        margin-bottom: 42px;
        border-bottom: 1px solid #E4E4DC;
      }

      .cover__image img {
        display: inline-block;
        max-width: 420px;
      }





      /*------------------------------------*\
          $SECTIONS
      \*------------------------------------*/

      .section {
        border-top: 1px solid #E4E4DC;
      }

      .section__title {
        padding-top: 10px;
        position: relative;
        margin-bottom: 42px;
      }

      .section__title:before {
        content: "";
        display: block;
        width: 210px;
        height: 4px;
        background: #48C0FB;
        position: absolute;
        left: 0;
        top: -1px;
      }

      .scenes { page-break-inside:auto }
      .scene  { page-break-inside:avoid; page-break-after:auto }





      /*------------------------------------*\
          $HELPER
      \*------------------------------------*/

      .page-break { 
        page-break-before: always;
        padding-top: 1cm;
      }


    </style>
  </head>

  <body>
    <div class="cover">
      {{# project.companyLogo}}
      <div class="cover__image">
        <img src="{{project.projectLogoSRC}}" alt="" />
      </div>
      {{/ project.companyLogo}}

      <h1 class="cover__title">{{project.title}}</h1>
      <h3 class="cover__tagline">{{project.companyName}}</h3>
    </div>

    {{#categories}}
    {{# categoryHasAnswer(., project) }}
    <div class="page-break"></div>

    <div class="section">
    <h2 class="section__title">{{title}}</h2>
    {{#sortedSections}}
    {{# sectionHasAnswer(., project) }}
    <section>
      <h3>{{title}}</h3>
      {{#sortedQuestions}}
      {{# hasTextAnswer(., project) }}
      <h4>{{title}}</h4>
      <p>{{# nl2br }}{{text}}{{/ nl2br }}</p>
      {{/ }}
      {{# hasSelectableAnswer(., project) }}
      <h4>{{title}}</h4>
      <p>{{selected.text}}</p>
      {{/ }}
      {{/sortedQuestions}}
    </section>
    {{/ }}
    {{/sortedSections}}
    </div><!-- end .section -->
    {{/ }}
    {{/categories}}


    {{#project.hasScenes}}
    <div class="page-break"></div>
    <div class="section">
    <h2 class="section__title">Scenes</h2>
    <div class="scenes">
      {{#project.orderedScenes}}
      {{# hasImage}}
      <div class="scene cf">
        <h4>{{title}}</h4>
        <div class="scene_image">
          <img src="{{sceneImageSRC}}" />
        </div>
        <div class="text image">
          <h5>Picture</h5>
          <p>
            {{imageText}}
          </p>
        </div>
        <div class="text sound">
          <h5>Sound</h5>
          <p>
            {{soundText}}
          </p>
        </div>
      </div>
      {{^ hasImage}}
      <div class="scene without_image cf">
        <h4>{{title}}</h4>
        <div class="text image">
          <h5>Picture</h5>
          <p>
            {{imageText}}
          </p>
        </div>
        <div class="text sound">
          <h5>Sound</h5>
          <p>
            {{soundText}}
          </p>
        </div>
      </div>
      {{/ hasImage}}

      {{/project.orderedScenes}}
    </div>
    </div>
    {{/project.hasScenes}}
  </body>
</html>
