{{% CONTENT_TYPE:HTML }}
<html>
  <head>
    <style type="text/css">

      body {
        font-family: HelveticaNeue-Light;
      }

      .page-break {
        page-break-before: always;
      }

      .scenes { page-break-inside:auto }
      .scene  { page-break-inside:avoid; page-break-after:auto }
    </style>
  </head>

  <body>
    <h1>{{project.title}}</h1>
    <h3>{{project.companyName}}</h3>
    {{# project.companyLogo}}
    <div class="logo"><img src="{{project.projectLogoSRC}}" alt="" /></div>
    {{/ project.companyLogo}}

    {{#categories}}
    {{# categoryHasAnswer(., project) }}
    <div class="page-break"></div>
    <h2>{{title}}</h2>
    {{#sortedSections}}
    {{# sectionHasAnswer(., project) }}
    <section>
      <h3>{{title}}</h3>
      {{#sortedQuestions}}
      {{# hasTextAnswer(., project) }}
      <div class="question">{{title}}</div>
      <div class="answer">{{# nl2br }}{{text}}{{/ nl2br }}</div>
      {{/ }}
      {{# hasSelectableAnswer(., project) }}
      <div class="question">{{title}}</div>
      <div class="answer">{{selected.text}}</div>
      {{/ }}
      {{/sortedQuestions}}
    </section>
    {{/ }}
    {{/sortedSections}}
    {{/ }}
    {{/categories}}


    {{#project.hasScenes}}
    <div class="page-break"></div>
    <h2>Scenes</h2>
    <div class="scenes">
      {{#project.orderedScenes}}
      {{# hasImage}}
      <div class="scene cf">
        <h4>{{title}}</h4>
        <div class="scene_image">
          <img src="{{sceneImageSRC}}" />
        </div>
        <div class="text image">
          <h5>Picture</h5>
          {{imageText}}
        </div>
        <div class="text sound">
          <h5>Sound</h5>
          {{soundText}}
        </div>
      </div>
      {{^ hasImage}}
      <div class="scene without_image cf">
        <h4>{{title}}</h4>
        <div class="text image">
          <h5>Picture</h5>
          {{imageText}}
        </div>
        <div class="text sound">
          <h5>Sound</h5>
          {{soundText}}
        </div>
      </div>
      {{/ hasImage}}

      {{/project.orderedScenes}}
    </div>
    {{/project.hasScenes}}
  </body>
</html>
