<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Contact</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>contact</string>
			</dict>
			<dict>
				<key>title</key>
				<string>address</string>
			</dict>
			<dict>
				<key>title</key>
				<string>e-mail</string>
			</dict>
			<dict>
				<key>title</key>
				<string>telephone</string>
			</dict>
			<dict>
				<key>title</key>
				<string>mobile</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>editorial staff</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>contact</string>
			</dict>
			<dict>
				<key>title</key>
				<string>e-mail</string>
			</dict>
			<dict>
				<key>title</key>
				<string>telephone</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>scheduling</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>contact</string>
			</dict>
			<dict>
				<key>title</key>
				<string>e-mail</string>
			</dict>
			<dict>
				<key>title</key>
				<string>telephone</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>camera</string>
		<key>questions</key>
		<array>
			<dict>
				<key>title</key>
				<string>contact</string>
			</dict>
			<dict>
				<key>title</key>
				<string>e-mail</string>
			</dict>
			<dict>
				<key>title</key>
				<string>telephone</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
