<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>music</string>
		<key>questions</key>
		<array>
			<dict>
				<key>id</key>
				<string>1035</string>
				<key>title</key>
				<string>music</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1036</string>
				<key>title</key>
				<string>genre</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1037</string>
				<key>title</key>
				<string>speed</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>external material</string>
		<key>questions</key>
		<array>
			<dict>
				<key>id</key>
				<string>1038</string>
				<key>title</key>
				<string>photos</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1039</string>
				<key>title</key>
				<string>videos</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1040</string>
				<key>title</key>
				<string>graphics / animations</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1041</string>
				<key>title</key>
				<string>sound</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
