<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>customer statement</string>
		<key>questions</key>
		<array>
			<dict>
				<key>id</key>
				<string>1015</string>
				<key>title</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>editorial staff</string>
		<key>questions</key>
		<array>
			<dict>
				<key>id</key>
				<string>1016</string>
				<key>title</key>
				<string>off-speaker</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1017</string>
				<key>title</key>
				<string>gender off-speaker</string>
				<key>selections</key>
				<array>
					<string>male</string>
					<string>female</string>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>1018</string>
				<key>title</key>
				<string>off-text created</string>
				<key>selections</key>
				<array>
					<string>yes</string>
					<string>no</string>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>1019</string>
				<key>title</key>
				<string>language version</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1020</string>
				<key>title</key>
				<string>what to show in the movie</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1021</string>
				<key>title</key>
				<string>what not to show</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>scheduling</string>
		<key>questions</key>
		<array>
			<dict>
				<key>id</key>
				<string>1022</string>
				<key>title</key>
				<string>clip length</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1023</string>
				<key>title</key>
				<string>film format</string>
				<key>selections</key>
				<array>
					<string>16:9</string>
					<string>16:10</string>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>1024</string>
				<key>title</key>
				<string>operating media</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1025</string>
				<key>title</key>
				<string>telephone</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
