body {
  background: #efefef;
  color: #A8A8A8;
  font-family: sans-serif;
  line-height: 1.5;
}

h2 {
  color: #000;
  margin-top: 0;
}

.card {
  background: #fff;
  max-width: 480px;
  border: 1px solid #ccc;
  margin: 40px auto;
  padding: 20px;
}
