{{% CONTENT_TYPE:HTML }}
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <h1>{{project}}</h1>
    <p>iomg omgomgomgo mgom ogm ogmomgomg o m</p>
  </body>
</html>
